* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p, a {
  font-family: 'PTSans', sans-serif;
  color: #323232;
  font-size: 16px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'RobotoSlab', serif;
  color: #323232;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  line-height: 22px;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 700;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6, .dark p, .dark a {
  color: #fff;
}

.container {
  max-width: 1140px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  grid-gap: 30px;
  padding: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.container > * {
  grid-column: span 12;
}

header,
footer,
section {
  padding: 40px 0;
}

.header {
  position: absolute;
  width: 100%;
}

.header__logo {
  grid-column: span 2;
}

.header__logo-img {
  display: block;
}

.header__menu {
  grid-column: 6/11;
}

.header__button {
  grid-column: 11/-1;
}

.menu__link_active {
  color: #00b894;
}

.menu__link_active::after {
  background-color: #00b894;
}

.button {
  padding: 15px 35px;
  cursor: pointer;
  border: none;
  display: inline-block;
  font-family: 'RobotoSlab', serif;
}

.button__first {
  background-color: #00b894;
  color: #fff;
}

.button__second {
  background-color: #323232;
  color: #fff;
}

.mainscreen {
  padding: 300px 0 200px 0;
  background-image: url("../img/bg_mainsreen.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainscreen__content {
  grid-column: span 8;
}

.mainscreen__button {
  margin: 0 30px 0 0;
}

.mainscreen__h3 {
  margin-bottom: 25px;
}

.mainscreen__h1 {
  margin-bottom: 30px;
}

.mainscreen__p {
  color: #707070;
  margin-bottom: 30px;
}

.about__content {
  grid-column: span 7;
}

.about__h5 {
  margin-bottom: 20px;
}

.about__line {
  margin-bottom: 30px;
}

.about__h2 {
  margin-bottom: 40px;
}

.about__p {
  color: #707070;
}

.about__img {
  grid-column: 9/-1;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  align-self: center;
}

.line {
  width: 50px;
  height: 2px;
  background-color: #00b894;
}

.h_small {
  font-size: 36px;
}

.h_center {
  text-align: center;
}

.h_green {
  color: #00b894;
}

.services {
  background-color: #f5f6fb;
}

.services__h2 {
  margin-bottom: 50px;
}

.services__item {
  grid-column: span 4;
  background-color: #fff;
  padding: 60px 40px;
}

.services__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 60px;
  margin-bottom: 30px;
}

.services__h6 {
  margin-bottom: 20px;
}

.services__p {
  color: #707070;
}

.skills {
  background-color: #00b894;
}

.skills__h2 {
  margin-bottom: 40px;
  color: #fff;
}

.skills__item {
  grid-column: span 6;
}

.skills__p {
  font-family: 'RobotoSlab', serif;
  color: #fff;
  margin-bottom: 20px;
}

.skills__line {
  height: 5px;
  width: 100%;
  position: relative;
}

.skills__line-bottom {
  height: 100%;
  opacity: 0.3;
  background-color: #ffffff;
}

.skills__w100 {
  width: 100%;
}

.skills__line-top {
  background-color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
}

.skills__line-top::after {
  content: '';
  display: block;
  margin-left: auto;
  -webkit-transform: translate(50%, -25px);
      -ms-transform: translate(50%, -25px);
          transform: translate(50%, -25px);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}

.skills__line-top::before {
  content: '';
  color: #fff;
  display: block;
  text-align: right;
  -webkit-transform: translate(15px, -40px);
      -ms-transform: translate(15px, -40px);
          transform: translate(15px, -40px);
}

.skills__w92 {
  width: 92%;
}

.skills__w92::before {
  content: '92%';
}

.skills__w90 {
  width: 90%;
}

.skills__w90::before {
  content: '90%';
}

.skills__w85 {
  width: 85%;
}

.skills__w85::before {
  content: '85%';
}

.skills__w97 {
  width: 97%;
}

.skills__w97::before {
  content: '97%';
}

.skills__w72 {
  width: 72%;
}

.skills__w72::before {
  content: '72%';
}

.latest-progects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.latest-progects__link {
  font-family: 'RobotoSlab', serif;
  display: block;
  margin: 0 40px 0 0;
  color: #707070;
}

.latest-progects__link_active {
  color: #00b894;
}

.latest-progects__item {
  grid-column: span 4;
  background-color: #e66d6d;
  padding: 50px 40px;
  text-align: center;
}

.latest-progects__h4 {
  color: #fff;
  font-size: 24px;
}

.latest-progects__subtitle {
  font-family: 'RobotoSlab', serif;
  color: #fff;
  font-size: 14px;
}

.latest-progects__p {
  color: #fff;
  line-height: 28px;
  margin: 30px 0 40px 0;
  font-size: 14px;
}

.latest-progects__rating {
  color: #fff;
}

.reviews__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.reviews__slide {
  width: 50%;
}

.reviews__icon {
  margin-bottom: 30px;
}

.reviews__p {
  margin-bottom: 20px;
}

.reviews__name {
  font-family: 'RobotoSlab', serif;
  font-size: 18px;
  font-weight: 700;
  color: #707070;
}

.reviews__work {
  font-family: 'RobotoSlab', serif;
  font-size: 18px;
  font-weight: 400;
  color: #707070;
}

.callback__bg-image {
  background-color: #ddd;
  width: 40%;
  height: 600px;
  position: absolute;
}

.callback__content {
  grid-column: 6/-1;
}

.callback__h5 {
  margin-bottom: 20px;
}

.callback__line {
  margin-bottom: 30px;
}

.callback__h2 {
  margin-bottom: 20px;
}

.callback__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.callback__input {
  display: block;
  border: 1px solid #777;
  padding: 15px 20px;
  width: 100%;
}

.callback__input_2of2 {
  grid-column: span 2;
}

.callback__textarea {
  min-height: 150px;
  resize: none;
}

.callback__button {
  justify-self: start;
}

.latest-news__item {
  grid-column: span 4;
}

.latest-news__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.latest-news__content {
  padding: 24px 24px;
}

.latest-news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

.latest-news__date, .latest-news__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #707070;
}

.latest-news__date-figure, .latest-news__name-figure {
  margin: 0 7px 0 0;
}

.latest-news__title {
  font-family: 'Roboto Slab';
  font-size: 18px;
  color: #323232;
  margin-bottom: 20px;
}

.latest-news__p {
  font-size: 15px;
  line-height: 28px;
  color: #707070;
  margin-bottom: 25px;
}

.latest-news__link {
  font-weight: 700;
  color: #323232;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.latest-news__link:hover {
  color: #00b894;
}

.partners__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  background-color: #f5f6fb;
}

.footer__logo {
  grid-column: span 2;
}

.footer__text {
  grid-column: 1/5;
}

.footer__menu {
  grid-column: span 2;
}

.footer__news-letter {
  grid-column: span 4;
}

/*
Fonts
*/
@font-face {
  font-family: 'icons';
  src: url("../fonts/fontello.eot?44857947");
  src: url("../fonts/fontello.eot?44857947#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?44857947") format("woff2"), url("../fonts/fontello.woff?44857947") format("woff"), url("../fonts/fontello.ttf?44857947") format("truetype"), url("../fonts/fontello.svg?44857947#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
}

.icon-calendar:before {
  content: '\e800';
}

.icon-user:before {
  content: '\e803';
}
